package.json
package-lock.json
output.json
allBuildings.json
mergedFinalDataOutput.json
mergedFinalDataOutput.txt
mergedFinalDataOutputNegate.json
mergedFinalDataOutputNegate.txt
mergedFinalDataOutputNoData.json
mergedFinalDataOutputNoData.txt
mergedFinalDataOutputNoChange.json
mergedFinalDataOutputNoChange.txt